body {
    background-image: url(../images/background4.jpeg);
    color: gray;
}
.nav {
    background-color: palevioletred;
    padding: 10px;
}

h2 {
    margin: 0 auto;
    font-family: monospace;
    color: white;
}

.card {
    margin: 10px auto;
    border-color: white;
    background-color: #fce4ec;
}

.card-img {
    height: 250px;
}

.crystal-container {
    margin: 0 auto;
}

.crystal-container img {
     width: 120px;
     height: 120px;
}

.score-container {
    margin-left: 208px;
}

.count-container {
    margin-left: 208px;
}

#footer-text {
    color: white;
    margin: 0 auto;
}
